In [1]:
x=5
x+7

12

In [2]:
x=10
x/2

5.0

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [4]:
name = "Henris"
surname = "Ivaskevicius"

In [5]:
print(surname)

Ivaskevicius

In [6]:
##slicing

In [7]:
## slicing

In [8]:
print(surname[3])
print(surname[0])

s
I

# Skyrius

In [9]:
print(name)

Henris

In [10]:
print(surname)

Ivaskevicius

In [11]:
lygis = "penktas"

In [12]:
print(lygis)

penktas

In [13]:
len 'ilgis
'

SyntaxError: unterminated string literal (detected at line 1) (2193265408.py, line 1)

In [14]:
len{'ilgis'}

SyntaxError: invalid syntax (1995538164.py, line 1)

In [15]:
len( 'ilgis' )

5

In [16]:
lygis.upper()

'PENKTAS'

In [17]:
print( lygis.upper(),
      name.lower()
        )

PENKTAS henris

In [18]:
tekstas = 'normalusis skirstinys yra'

In [19]:
tekstas.replace('yra', 'bus')

'normalusis skirstinys bus'

In [20]:
print(name, surname)

Henris Ivaskevicius

In [21]:
uzduotis = 'Python makes me really really happy'

In [22]:
uzduotis.replace(uzduotis.find('Python'), 'PyThOn')

TypeError: replace() argument 1 must be str, not int

In [23]:
uzduotis.replace('Python', 'PyThOn')

'PyThOn makes me really really happy'

In [24]:
string1 = 'Hello World, I am happy to learn Python!'

In [25]:
print(string1.[0:10])

SyntaxError: invalid syntax (2764434552.py, line 1)

In [26]:
print(string1[0:10])

Hello Worl

In [27]:
print(string1[14:18])

 am

In [28]:
print(string1[16:20])

m ha

In [29]:
len(string1)

40

Skyrelis

In [30]:
print(f'I am {name} {surname} and I have {x} toes')

I am Henris Ivaskevicius and I have 10 toes

In [31]:
number1 = 59

In [32]:
number2 = 17

In [33]:
sum(number1, number2)

TypeError: 'int' object is not iterable

In [34]:
print(number1 + number2)

76

In [35]:
number3 = 78.54

In [36]:
print(number2/number3)

0.21645021645021642

In [37]:
print(f'18/5')

18/5

In [38]:
print(150000000000/384000)

390625.0

In [41]:
print(38400/150)

256.0

In [42]:
print(f'59 - 17 = {number1 - number2}')

59 - 17 = 42

In [43]:
print(f'Atstumas iki saules yra {150000000000/384000} kartu ilgesnis nei iki menulio')

Atstumas iki saules yra 390625.0 kartu ilgesnis nei iki menulio

In [45]:
from datetime import datetime, date, time
birthday = datetime(2000,12,25)
print(birthday)
now = datetime.now()
print (now)
time_passed = now - birthday
print (time_passed)
print (time_passed.days)

2000-12-25 00:00:00
2023-09-28 21:08:17.916822
8312 days, 21:08:17.916822
8312

In [48]:
#boolean
bool1 = True
print(bool1)
print(type(bool1)
        )
bool2 = False
number = 1
print(bool(number))

True
<class 'bool'>
True

In [49]:
text = 'Hello world'
print ('w' in text)

True

In [50]:
print (5>3)

True