Deklaruokite 2 string tipo kintamuosius, kurių vertės būtų kokių nors dainų žodžiai

Gaukite dainos žodžių kiekį

Paverskite visus žodžius į mažasias raides

Jei pasirinkote anglišką dainą, išimkite ‘the’

Panaikinti ‘ ar “

Kuri daina turi daugiau unikalių žodžių?

Kiek kartų kiekvienas žodis pasikartoja dainose?

Irašykite dainos žodį ir kiek kartų jis pasikartoja į naują žodyną, rezultatas turėtų atrodyti taip:

rezultatas = {
                       ‘baby’ : 5,
                       ‘toxic’ : 1,
                        ‘you’ : 7
                      }

In [4]:
lyrics_1 = 'pick up the phone baby'
lyrics_2 = 'wake up take a sip of ace of spades'
print(len(lyrics_1))
print(len(lyrics_2))
words = lyrics_1.split()
print(len(words))
print(lyrics_1.upper())
print(lyrics_2.upper())
for the in lyrics_1:
    if the == 'the':
        lyrics_1.replace('the',' ')
print(lyrics_1)

22
35
5
PICK UP THE PHONE BABY
WAKE UP TAKE A SIP OF ACE OF SPADES
pick up the phone baby

In [5]:
# list_3 = [17,18,19,21]
list_3 = [17,18,19,24]
neighbor_1st = list_3[:-1]
neighbor_2nd = list_3[1:]
for num_left, num_right in zip(neighbor_1st, neighbor_2nd):
    if num_left + 1 == num_right:
        print(f'Tarp {num_left} ir {num_right} nera anomalijos')
    else:
        print(f'Tarp {num_left} ir {num_right} yra anomalija')
        print(f'Trukstami skaiciai: { list(range(num_left + 1, num_right )) }')

Tarp 17 ir 18 nera anomalijos
Tarp 18 ir 19 nera anomalijos
Tarp 19 ir 24 yra anomalija
Trukstami skaiciai: [20, 21, 22, 23]

In [6]:
import re

x = re.search(r'\s(\d+)%', field_value)
field_value = x.group(1)
print(field_value)

NameError: name 'field_value' is not defined

In [ ]:

import re

field_value = "Momsbellop 25%"

# Use re.search to find the number in the input string
match = re.search(r'\s(\d+)%', field_value)

if match:
    extracted_number = match.group(1)
    print(extracted_number)
else:
    print("Number not found in the input string.")

25

# PANDAS LIBRARY

In [ ]:
%pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/af/7b/d170f9c8306c7673f57ca4f442e326d36e20299725edc5d0af36a3e3b041/pandas-2.1.1-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.1.1-cp311-cp311-macosx_11_0_arm64.whl.metadata (18 kB)
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/e8/06/0512e2582fd27bb7b358fa1e4ffc0f6c89c89f5ada31df58c5fa93171098/numpy-1.26.1-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading numpy-1.26.1-cp311-cp311-macosx_11_0_arm64.whl.metadata (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 1.9 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/henriuzas/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 5.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.5 in /Users/henriuzas/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.1-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 7.3 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.1-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 6.2 MB/s eta 0:00:0000:0100:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 8.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.1 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

df = pd.DataFrame(
   [ ['Jan',58,42,74,22,2.05],
    ['Feb',61,45,78,26,3.02],
    ['Mar',65,48,84,25,2.34],
    ['Apr',67,50,92,28,1.02],
    ['May',71,53,98,35,0.48],
    ['Jun',75,56,107,41,0.11],
    ['Jul',77,58,105,44,0.0],
    ['Aug',77,59,102,43,0.03],
    ['Sep',77,57,103,40,0.17],
    ['Oct',73,54,96,34,0.81],
    ['Nov',64,48,84,30,1.7],
    ['Dec',58,None,None,21,2.56],    ['Dec',58,42,73,21,2.56] ],
    columns = ['month','avg_high','avg_low','record_high','record_low','avg_precipitation'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   month              13 non-null     object
 1   avg_high           13 non-null     int64
 2   avg_low            12 non-null     float64
 3   record_high        12 non-null     float64
 4   record_low         13 non-null     int64
 5   avg_precipitation  13 non-null     float64
dtypes: float64(3), int64(2), object(1)
memory usage: 756.0+ bytes

In [ ]:
df.describe()

        avg_high    avg_low  record_high  record_low  avg_precipitation
count  13.000000  12.000000    12.000000   13.000000          13.000000
mean   67.769231  51.000000    91.333333   31.538462           1.296154
std     7.639305   6.060303    12.323911    8.501131           1.115210
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    61.000000  47.250000    82.500000   25.000000           0.170000
50%    67.000000  51.500000    94.000000   30.000000           1.020000
75%    75.000000  56.250000   102.250000   40.000000           2.340000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [ ]:
df.head(8)

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58     42.0         74.0          22               2.05
1   Feb        61     45.0         78.0          26               3.02
2   Mar        65     48.0         84.0          25               2.34
3   Apr        67     50.0         92.0          28               1.02
4   May        71     53.0         98.0          35               0.48
5   Jun        75     56.0        107.0          41               0.11
6   Jul        77     58.0        105.0          44               0.00
7   Aug        77     59.0        102.0          43               0.03

In [9]:
df.sort_values('avg_precipitation', ascending=False)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
1    Feb        61     45.0         78.0          26               3.02
11   Dec        58      NaN          NaN          21               2.56
12   Dec        58     42.0         73.0          21               2.56
2    Mar        65     48.0         84.0          25               2.34
0    Jan        58     42.0         74.0          22               2.05
10   Nov        64     48.0         84.0          30               1.70
3    Apr        67     50.0         92.0          28               1.02
9    Oct        73     54.0         96.0          34               0.81
4    May        71     53.0         98.0          35               0.48
8    Sep        77     57.0        103.0          40               0.17
5    Jun        75     56.0        107.0          41               0.11
7    Aug        77     59.0        102.0          43               0.03
6    Jul        77     58.0        105.0          44               0.00

In [17]:
# print(df[['avg_low','avg_high']])
print(df[['avg_low','avg_high']])

    avg_low  avg_high
0      42.0        58
1      45.0        61
2      48.0        65
3      50.0        67
4      53.0        71
5      56.0        75
6      58.0        77
7      59.0        77
8      57.0        77
9      54.0        73
10     48.0        64
11      NaN        58
12     42.0        58

In [18]:
df ['sample'] = 5

In [19]:
df.describe()

,avg_high,avg_low,record_high,record_low,avg_precipitation,sample
count,13.000000,12.000000,12.000000,13.000000,13.000000,13.0
mean,67.769231,51.000000,91.333333,31.538462,1.296154,5.0
std,7.639305,6.060303,12.323911,8.501131,1.115210,0.0
min,58.000000,42.000000,73.000000,21.000000,0.000000,5.0
25%,61.000000,47.250000,82.500000,25.000000,0.170000,5.0
50%,67.000000,51.500000,94.000000,30.000000,1.020000,5.0
75%,75.000000,56.250000,102.250000,40.000000,2.340000,5.0
max,77.000000,59.000000,107.000000,44.000000,3.020000,5.0

In [30]:
df.loc[[4,8], 'record_low']

4    100
8    100
Name: record_low, dtype: int64